/* Imports */
/* Include mixin with the Resets */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

/* Container style - All Pages */
.container {
  border: 2px solid black;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  /* Style Home Page */
  /* Header style - Page Home */
  /* Aside style - Page Home */
  /* Section styel - Page Home */
  /* Main style - Page Home */
  /* Footer style - Page Home */
  /* Style Configuracoes Page */
  /* Header style - Page Connfiguracoes */
  /* Main style - Page Configuracoes */
  /* Footer style - Page configuracoes */
  /* Style Chat Page */
  /* Style header Chat */
  /* Main style - Page Chat */
  /* Style Contracheque Page */
  /* Main style - Page Contracheque*/
}
.container #header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  border-bottom: 0.1rem solid black;
}
.container #header .chat,
.container #header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 6rem;
  width: 50%;
  height: 100%;
}
.container #header .logo i {
  color: orange;
}
.container #header .chat i {
  color: #769cc2;
}
.container #header .menu {
  display: none;
}
.container #aside {
  border-right: 0.1rem solid black;
  grid-row-start: 1;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.container #aside .perfil {
  border-bottom: 0.1rem solid black;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container #aside .perfil .fecha {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  display: none;
}
.container #aside .perfil .fecha #btnFecha {
  width: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  background-color: white;
}
.container #aside .perfil .fecha #btnFecha i {
  font-size: 4rem;
}
.container #aside .perfil i {
  font-size: 10rem;
}
.container #aside .perfil .span-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
}
.container #aside .perfil .span-group .nome {
  font-size: 2rem;
}
.container #aside .perfil .span-group .cpf {
  font-size: 1.3rem;
}
.container #aside .menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 45rem;
  padding: 1rem 0 0 1rem;
}
.container #aside .menu a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 10rem;
  font-size: 2rem;
  color: black;
  font-weight: 500;
  margin-bottom: 1rem;
}
.container #aside .menu a i {
  margin-left: 1rem;
  color: red;
  font-weight: 700;
  font-size: 2.5rem;
}
.container #section {
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 17;
}
.container #section h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.container #section .informacoes,
.container #section .informacoes .info-r {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container #section .informacoes {
  border: 0.1rem solid black;
  width: 60%;
  height: 60%;
}
.container #section .informacoes .info-l,
.container #section .informacoes .info-r .info-group {
  font-size: 2rem;
  padding: 0.5rem;
}
.container #section .informacoes .info-l {
  border-right: 0.1rem solid black;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.container #section .informacoes .info-l span {
  color: lawngreen;
  text-align: center;
  width: 100%;
}
.container #section .informacoes .info-r {
  width: 55%;
  height: 100%;
}
.container #section .informacoes .info-r .info-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.container #section .informacoes .info-r .info-group .cima {
  text-align: left;
  width: 100%;
  height: 100%;
}
.container #section .informacoes i {
  font-size: 5rem;
}
.container #main {
  grid-row-start: 6;
  grid-row-end: 15;
  grid-column-start: 3;
  grid-column-end: 17;
  overflow: scroll;
}
.container #main .main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem 0 2rem;
}
.container #main .main-header .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container #main .main-header .select span {
  font-size: 1.5rem;
}
.container #main .main-header div i {
  font-size: 2.5rem;
}
.container #main .table {
  width: 100%;
  height: 50rem;
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(1, 1fr);
  border: 0.1rem solid black;
}
.container #main .table .row {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.container #main .table .row .cell {
  border: 0.1rem solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.container #main .table .row .cell i {
  font-size: 3rem;
}
.container #main .table .row .cell i:hover + #ausencia {
  display: block;
}
.container #main .table .row .cell i:hover + #inconstencia {
  display: block;
}
.container #main .table .row .cell #ausencia {
  text-align: center;
  color: red;
  display: none;
}
.container #main .table .row .cell #vermelho:hover {
  color: red;
}
.container #main .table .row .cell #inconstencia {
  text-align: center;
  color: orange;
  display: none;
}
.container #main .table .row .cell #laranja:hover {
  color: orange;
}
.container #footer {
  grid-row-start: 15;
  grid-row-end: 17;
  grid-column-start: 3;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.container #footer .footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7rem;
  color: black;
  border-top: 0.1rem solid black;
}
.container #footer .footer-item i {
  font-size: 2.7rem;
}
.container #footer .selecionado {
  border-top: 0.2rem solid orange;
}
.container #footer .selecionado span,
.container #footer .selecionado i {
  color: orange;
}
.container #header,
.container .header-chat {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 17;
  padding: 0 2rem 0 2rem;
}
.container .header-perfil {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.container .header-perfil .volta,
.container .header-perfil .foto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  border-bottom: 0.1rem solid black;
}
.container .header-perfil .volta {
  gap: 1rem;
  font-size: 0.9rem;
}
.container .header-perfil .volta i {
  font-size: 2.2rem;
}
.container .header-perfil .foto {
  justify-content: center;
}
.container .header-perfil .foto #perfil {
  font-size: 8rem;
}
.container .header-perfil .foto #camera {
  font-size: 3rem;
  position: absolute;
  top: 18%;
  left: 51%;
  color: orange;
}
.container .main-perfil {
  grid-row-start: 5;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 4rem repeat(4, 1fr);
}
.container .main-perfil .texto,
.container .main-perfil .item-mp {
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 0.1rem solid black;
}
.container .main-perfil .item-mp {
  gap: 2rem;
}
.container .main-perfil .item-mp .text-group {
  width: 25rem;
}
.container .main-perfil .item-mp .text-group input {
  border: none;
}
.container .main-perfil .item-mp i {
  font-size: 3rem;
}
.container .footer-perfil {
  grid-row-start: 12;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 4rem repeat(3, 1fr);
}
.container .footer-perfil .texto,
.container .footer-perfil .item-fp {
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid black;
}
.container .footer-perfil .texto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container .footer-perfil .item-fp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.container .header-chat {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 17;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 4rem;
}
.container .header-chat .texto h1 {
  font-size: 3rem;
}
.container .header-chat .logo i {
  font-size: 5rem;
  color: orange;
}
.container .main-chat {
  grid-row-start: 3;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 85% 15%;
  padding: 0 1rem 0 1rem;
  border-top: 0.1rem solid black;
}
.container .main-chat .chatbox {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}
.container .main-chat .chatbox .generica {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40%;
  height: 10rem;
  border: 0.1rem solid black;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem;
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  margin-bottom: 2rem;
}
.container .main-chat .digitemensagem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top: 0.1rem solid black;
}
.container .main-chat .digitemensagem form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container .main-chat .digitemensagem form i {
  font-size: 3rem;
}
.container .main-chat .digitemensagem form .group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 0.1rem solid black;
  border-radius: 1.2rem;
  margin-right: 1.5rem;
}
.container .main-chat .digitemensagem form .group input,
.container .main-chat .digitemensagem form .group .upload {
  border: none;
}
.container .main-chat .digitemensagem form .group input {
  width: 80rem;
  height: 6rem;
  border-radius: 1.2rem 0 0 1.2rem;
  padding: 3rem;
  text-align: left;
}
.container .main-chat .digitemensagem form .group .upload {
  border-radius: 0 1.2rem 1.2rem 0;
}
.container .main-chat .digitemensagem form .enviar,
.container .main-chat .digitemensagem form .upload {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container .main-chat .digitemensagem form .enviar {
  border-radius: 50%;
}
.container .main-contracheque {
  grid-row-start: 3;
  grid-row-end: 15;
  grid-column-start: 3;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 1fr 6fr;
}
.container .main-contracheque .selectmonth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
}
.container .main-contracheque .selectmonth span {
  font-size: 3rem;
  font-weight: bold;
}
.container .main-contracheque .selectmonth .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 15rem;
  height: 4rem;
}
.container .main-contracheque .selectmonth .select .mes {
  font-size: 2.5rem;
  font-weight: 400;
}
.container .main-contracheque .selectmonth .select .download {
  font-size: 3rem;
}
.container .main-contracheque .graph-values {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.container .main-contracheque .graph-values .graph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  border-right: 0.1rem solid black;
}
.container .main-contracheque .graph-values .graph img {
  width: 40rem;
  height: 25rem;
  margin-bottom: 1rem;
}
.container .main-contracheque .graph-values .graph span {
  margin-bottom: 1rem;
}
.container .main-contracheque .graph-values .values {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .main-contracheque .graph-values .values ul {
  width: 100%;
}
.container .main-contracheque .graph-values .values ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 4rem;
}
.container .main-contracheque .graph-values .values ul li span {
  font-size: 2rem;
}
.container .main-contracheque .graph-values .values ul li .valores {
  font-weight: bold;
}
.container .main-notificacoes {
  grid-row-start: 3;
  grid-row-end: 15;
  grid-column-start: 3;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 1fr 10fr;
  padding: 1rem;
}
.container .main-notificacoes .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 1rem;
}
.container .main-notificacoes .titulo h1 {
  font-size: 3rem;
}
.container .main-notificacoes .notificacoes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.container .main-notificacoes .notificacoes .notification-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  width: 100%;
  height: 5rem;
  border: 0.1rem solid rgb(164, 50, 8);
  border-radius: 1rem;
  font-size: 1.7rem;
  justify-items: center;
}
.container .main-notificacoes .notificacoes .notification-box .icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 1rem;
}
.container .main-notificacoes .notificacoes .notification-box .icon i {
  font-size: 4rem;
}
.container .main-notificacoes .notificacoes .notification-box .porque {
  text-decoration: underline;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container .main-notificacoes .notificacoes .notification-box #ausencia {
  color: red;
}
.container .main-notificacoes .notificacoes .notification-box #inconsistencia {
  color: orange;
}
.container .main-notificacoes .notificacoes .notification-box .quando {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container .main-notificacoes .notificacoes .notification-box p {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  text-align: justify;
  padding-right: 1rem;
}

/* Style login page */
#body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
#body .loginbox {
  border: 0.1rem solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
  height: 50rem;
}
#body .loginbox .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 10rem;
  width: 15rem;
  height: 15rem;
  background-color: lightgrey;
  margin-bottom: 2rem;
  border-radius: 3rem;
}
#body .loginbox .logo i {
  color: orange;
}
#body .loginbox h1 {
  font-size: 2.5rem;
}
#body .loginbox form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 54%;
  height: 22rem;
  font-size: 2rem;
}
#body .loginbox form label {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
#body .loginbox form input {
  width: 30rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
#body .loginbox form button {
  width: 11rem;
  height: 4rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
  border: none;
  font-size: 1.3rem;
}

/* Imports of the medias queries */
@media (min-width: 500px) and (max-width: 849px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container #header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container #aside {
    grid-row-start: 1;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .container #aside .perfil {
    padding-left: 1rem;
  }
  .container #section {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container #section .informacoes {
    width: 90%;
    height: 60%;
  }
  .container #section .informacoes .info-l {
    font-size: 1.5rem;
  }
  .container #section .informacoes .info-r .info-group {
    font-size: 1.5rem;
  }
  .container #main {
    grid-row-start: 6;
    grid-row-end: 15;
    grid-column-start: 5;
    grid-column-end: 17;
    overflow: scroll;
  }
  .container #footer {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container .main-chat .chatbox .generica {
    width: 65%;
    height: 13rem;
  }
  .container .main-chat .digitemensagem form .group input {
    width: 35rem;
  }
  .container .main-contracheque {
    grid-row-start: 3;
    grid-row-end: 15;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container .main-contracheque .selectmonth {
    padding: 0 1rem 0 1rem;
  }
  .container .main-contracheque .selectmonth span {
    font-size: 3rem;
  }
  .container .main-contracheque .selectmonth .select {
    width: 15rem;
    height: 4rem;
  }
  .container .main-contracheque .selectmonth .select .download {
    font-size: 3.3rem;
  }
  .container .main-contracheque .graph-values {
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .container .main-contracheque .graph-values .graph {
    font-size: 2.3rem;
    border: none;
    border-bottom: 0.1rem solid black;
  }
  .container .main-contracheque .graph-values .graph i {
    font-size: 15rem;
  }
  .container .main-contracheque .values {
    padding: 0 1rem 0 1rem;
  }
  .container .main-contracheque .values ul li span {
    font-size: 1.3rem;
  }
  .container .main-notificacoes {
    grid-row-start: 3;
    grid-row-end: 15;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container .main-notificacoes .notificacoes .notification-box {
    font-size: 1.5rem;
  }
  .container .main-notificacoes .notificacoes .notification-box .icon i {
    font-size: 2.5rem;
  }
  .container .main-notificacoes .notificacoes .notification-box p {
    font-size: 1.5rem;
  }
  #body .loginbox form input {
    width: 31rem;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid black;
  }
  #body .loginbox form button {
    width: 15rem;
    height: 4rem;
    font-size: 1.7rem;
  }
}
@media (max-width: 499px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container #header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 17;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
  }
  .container #header .menu {
    display: block;
  }
  .container #header .menu button {
    border: none;
    background-color: white;
    font-size: 3rem;
  }
  .container #header .chat,
  .container #header .logo,
  .container #header .menu {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 3rem;
  }
  .container #aside {
    display: none;
    background-color: white;
    position: absolute;
    width: 50%;
  }
  .container #aside .perfil {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .container #aside .perfil .fecha {
    width: 100%;
    height: 5rem;
    display: flex;
  }
  .container #aside .perfil i {
    font-size: 8rem;
  }
  .container #aside .menu {
    width: 100%;
    height: 46rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .container #aside .menu a {
    font-size: 1.5rem;
  }
  .container #section {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container #section h3 {
    margin-bottom: 0;
  }
  .container #section .informacoes {
    width: 90%;
    height: 60%;
  }
  .container #section .informacoes .info-l {
    font-size: 1.3rem;
  }
  .container #section .informacoes .info-r .info-group {
    font-size: 1.3rem;
  }
  .container #main {
    grid-row-start: 6;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 17;
    overflow: scroll;
  }
  .container #footer {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container #footer .footer-item {
    font-size: 1.3rem;
  }
  .container #footer .footer-item i {
    font-size: 2rem;
  }
  .container .header-pefil {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container .header-pefil .volta,
  .container .header-pefil .foto {
    padding: 0 0 0 1rem;
  }
  .container .header-pefil .volta i {
    font-size: 2rem;
  }
  .container .header-pefil .foto #perfil {
    font-size: 7rem;
  }
  .container .main-perfil {
    display: grid;
    grid-template-rows: 4rem repeat(4, 1fr);
    grid-row-start: 5;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container .main-perfil .texto {
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
  .container .main-perfil .item-mp {
    padding: 0 1rem 0 1rem;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.2rem;
  }
  .container .main-perfil .item-mp .text-group {
    width: 50%;
  }
  .container .main-perfil .item-mp i {
    font-size: 2.5rem;
  }
  .container .footer-perfil {
    display: grid;
    grid-template-rows: 4rem repeat(3, 1fr);
  }
  .container .footer-perfil .texto {
    padding: 0 0 0 1rem;
    font-size: 1rem;
  }
  .container .footer-perfil .item-fp {
    padding: 0 0 0 1rem;
    gap: 0;
    font-size: 1.2rem;
  }
  .container .header-chat {
    font-size: 3rem;
    padding: 0 1rem 0 1rem;
  }
  .container .header-chat .texto h1 {
    font-size: 2.5rem;
  }
  .container .main-chat .chatbox .generica {
    width: 60%;
    height: 15rem;
  }
  .container .main-chat .digitemensagem form i {
    font-size: 2rem;
  }
  .container .main-chat .digitemensagem form .group input {
    width: 20rem;
    height: 4rem;
    padding: 0.75rem;
  }
  .container .main-chat .digitemensagem form .enviar,
  .container .main-chat .digitemensagem form .upload {
    width: 4rem;
    height: 4rem;
  }
  .container .main-contracheque {
    grid-row-start: 3;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container .main-contracheque .selectmonth {
    padding: 0 1rem 0 1rem;
  }
  .container .main-contracheque .selectmonth span {
    font-size: 2rem;
  }
  .container .main-contracheque .selectmonth .select {
    width: 15rem;
    height: 3rem;
  }
  .container .main-contracheque .selectmonth .select .download {
    font-size: 2.8rem;
  }
  .container .main-contracheque .graph-values {
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .container .main-contracheque .graph-values .graph {
    font-size: 1.8rem;
    border: none;
    border-bottom: 0.1rem solid black;
  }
  .container .main-contracheque .graph-values .graph img {
    width: 30rem;
    height: 20rem;
  }
  .container .main-contracheque .values {
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .main-contracheque .values ul {
    width: 100%;
    height: 100%;
  }
  .container .main-contracheque .values ul li {
    height: 3rem;
  }
  .container .main-notificacoes {
    grid-row-start: 3;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container .main-notificacoes .titulo h1 {
    font-size: 2.3rem;
  }
  .container .main-notificacoes .notificacoes .notification-box {
    display: grid;
    grid-template-columns: 5rem 2fr 1fr 3fr;
    font-size: 1.3rem;
  }
  .container .main-notificacoes .notificacoes .notification-box .icon i {
    font-size: 2.3rem;
  }
  .container .main-notificacoes .notificacoes .notification-box p {
    font-size: 1.3rem;
  }
  #body .loginbox {
    width: 32rem;
    height: 43rem;
  }
  #body .loginbox .logo {
    font-size: 6rem;
    width: 11rem;
    height: 11rem;
  }
  #body .loginbox h1 {
    font-size: 2rem;
  }
  #body .loginbox form {
    width: 26rem;
    height: 23rem;
  }
  #body .loginbox form label {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  #body .loginbox form input {
    width: 24rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  #body .loginbox form button {
    width: 12rem;
    height: 4rem;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */