/* Imports */

@use "scss/functions";
@use "scss/medias/tablet";
@use "scss/medias/cell";
@use "scss/pages/home";
@use "scss/pages/configuracoes";
@use "scss/pages/chat";
@use "scss/pages/contracheque";
@use "scss/pages/login";
/* Include mixin with the Resets */

@include functions.reset;

/* Container style - All Pages */

.container {
  border: 2px solid black;
  @include functions.alturaLargura(80%, 100vh);
  margin: 0 auto;
  @include functions.grid(16, 1fr, 16, 1fr);

  /* Style Home Page */

  @include home.main;

  #header,
  .header-chat {
    @include functions.posicaoGrid(1, 3, 3, 17);
    padding: 0 2rem 0 2rem;
  }

  /* Style Configuracoes Page */

  @include configuracoes.main;

  /* Style Chat Page */

  @include chat.main;

  /* Style Contracheque Page */

  @include contracheque.main;

}

/* Style login page */

@include login.main;

/* Imports of the medias queries */

@include tablet.tablet;
@include cell.celular;