@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  color: black;
}

.container {
  border: 2px solid black;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}
.container #header {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 17;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0 2rem 0 2rem;
}
.container #header .chat,
.container #header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 4.5rem;
  border: 2px solid navy;
  width: 50%;
  height: 100%;
}
.container #header .logo i {
  color: orange;
}
.container #header .menu {
  display: none;
}
.container #aside {
  border: 2px solid indigo;
  grid-row-start: 1;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.container #aside .perfil {
  border: 2px solid indianred;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container #aside .perfil i {
  font-size: 10rem;
}
.container #aside .perfil .span-group .nome {
  font-size: 2rem;
}
.container #aside .perfil .span-group .cpf {
  font-size: 1.3rem;
}
.container #aside .menu {
  border: 2px solid saddlebrown;
  width: 100%;
  height: 45rem;
  padding: 1rem 0 0 1rem;
}
.container #aside .menu h1,
.container #aside .menu h2 {
  margin-bottom: 1rem;
}
.container #aside .menu a {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}
.container #section {
  border: 2px solid green;
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 17;
}
.container #section h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.container #section .informacoes {
  border: 2px solid magenta;
  width: 50rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container #section .informacoes .info-l {
  border: 2px solid salmon;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 2.3rem;
}
.container #section .informacoes .info-l span {
  color: lawngreen;
}
.container #section .informacoes .info-r {
  border: 2px solid khaki;
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container #section .informacoes .info-r .info-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 2.3rem;
}
.container #section .informacoes .info-r .info-group .cima {
  text-align: left;
  width: 100%;
  height: 100%;
}
.container #section .informacoes i {
  font-size: 5rem;
}
.container #main {
  border: 2px solid blue;
  grid-row-start: 6;
  grid-row-end: 15;
  grid-column-start: 3;
  grid-column-end: 17;
}
.container #main .main-header {
  border: 2px solid khaki;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2rem 0 2rem;
}
.container #main .main-header div i {
  font-size: 2.5rem;
}
.container #main .table {
  border: 2px solid teal;
  width: 100%;
  height: calc(100% - 4rem);
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(1, 1fr);
}
.container #main .table .row {
  border: 2px solid lawngreen;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.container #main .table .row .cell {
  border: 2px solid seagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.container #main .table .row .cell i {
  font-size: 3rem;
}
.container #footer {
  border: 2px solid yellow;
  grid-row-start: 15;
  grid-row-end: 17;
  grid-column-start: 3;
  grid-column-end: 17;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container #footer .footer-item {
  border: 2px solid maroon;
  width: 20rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7rem;
  color: black;
}
.container #footer .footer-item i {
  font-size: 2.7rem;
}
.container #footer .selecionado span,
.container #footer .selecionado i {
  color: orange;
}
.container .header-perfil {
  border: 2px solid red;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.container .header-perfil .volta,
.container .header-perfil .foto {
  border: 2px solid greenyellow;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
}
.container .header-perfil .volta {
  gap: 1rem;
}
.container .header-perfil .volta i {
  font-size: 3rem;
}
.container .header-perfil .foto {
  justify-content: center;
}
.container .header-perfil .foto #perfil {
  font-size: 10rem;
}
.container .header-perfil .foto #camera {
  font-size: 4rem;
  position: absolute;
  top: 13%;
  left: 51%;
  color: orange;
}
.container .main-perfil {
  border: 2px solid blue;
  grid-row-start: 4;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 5rem repeat(4, 1fr);
}
.container .main-perfil .texto {
  border: 2px solid blueviolet;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.3rem;
}
.container .main-perfil .item-mp {
  border: 2px solid hotpink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.container .main-perfil .item-mp .text-group {
  width: 25rem;
}
.container .main-perfil .item-mp .text-group input {
  border: none;
}
.container .main-perfil .item-mp i {
  font-size: 3.5rem;
}
.container .footer-perfil {
  border: 2px solid green;
  grid-row-start: 12;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 17;
  display: grid;
  grid-template-rows: 5rem repeat(3, 1fr);
}
.container .footer-perfil .texto {
  border: 2px solid blueviolet;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.3rem;
}
.container .footer-perfil .item-fp {
  border: 2px solid hotpink;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  gap: 0.5rem;
}

@media (min-width: 500px) and (max-width: 849px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container #header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container #aside {
    grid-row-start: 1;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .container #aside .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
  }
  .container #aside .perfil .span-group {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .container #section {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container #section .informacoes {
    width: 90%;
    height: 10rem;
  }
  .container #main {
    grid-row-start: 6;
    grid-row-end: 15;
    grid-column-start: 5;
    grid-column-end: 17;
  }
  .container #footer {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 5;
    grid-column-end: 17;
  }
}
@media (max-width: 499px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .container #header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container #aside {
    grid-row-start: 1;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 4;
    display: none;
  }
  .container #section {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 17;
  }
  .container #section .informacoes {
    width: 90%;
    height: 10rem;
  }
  .container #main {
    grid-row-start: 6;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 17;
    overflow: hidden;
  }
  .container #footer {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 17;
  }
}/*# sourceMappingURL=style.css.map */