@use "functions";

@mixin celular {
    @media (max-width: 499px) {
        .container {
            @include functions.alturaLargura(100%, 100vh);

            #header {
                @include functions.posicaoGrid(1, 3, 1, 17);
                @include functions.flex(center, space-between, row);
                padding: 0;

                .menu {
                    display: block;
                }

                .menu,
                .chat,
                .logo {
                    border: 2px solid black;
                    @include functions.alturaLargura(30%, 100%);
                    @include functions.flex(center, center, row);
                    font-size: 3rem;
                }
            }

            #aside {
                @include functions.posicaoGrid(1, 17, 1, 4);
                display: none;
            }

            #section {
                @include functions.posicaoGrid(3, 6, 1, 17);

                h3 {
                    margin-bottom: 0;
                }

                .informacoes {
                    @include functions.alturaLargura(90%, 60%);

                    .info-l {
                        font-size: 1.3rem
                    }

                    .info-r {
                        .info-group {
                            font-size: 1.3rem
                        }
                    }
                }
            }

            #main {
                @include functions.posicaoGrid(6, 15, 1, 17);
                overflow: hidden;
            }

            #footer {
                @include functions.posicaoGrid(15, 17, 1, 17);

                .footer-item {
                    font-size: 1.3rem;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            .header-pefil {
                @include functions.posicaoGrid(1, 5, 1, 17);

                .volta,
                .foto {
                    padding: 0 0 0 1rem;
                }

                .volta {
                    i {
                        font-size: 2rem;
                    }
                }

                .foto {
                    #perfil {
                        font-size: 7rem;
                    }
                }
            }

            .main-perfil {
                display: grid;
                grid-template-rows: 4rem repeat(4, 1fr);
                @include functions.posicaoGrid(5, 12, 1, 17);

                .texto {
                    padding: 0 0 0 1rem;
                    font-size: 1rem;
                }

                .item-mp {
                    padding: 0 1rem 0 1rem;
                    gap: 0;
                    @include functions.flex(center, space-between, row);
                    font-size: 1.2rem;

                    .text-group {
                        width: 50%;
                    }

                    i {
                        font-size: 2.5rem
                    }
                }
            }

            .footer-perfil {
                display: grid;
                grid-template-rows: 4rem repeat(3, 1fr);

                .texto {
                    padding: 0 0 0 1rem;
                    font-size: 1rem;
                }

                .item-fp {
                    padding: 0 0 0 1rem;
                    gap: 0;
                    font-size: 1.2rem;
                }
            }

            .header-chat {
                font-size: 3rem;
                padding: 0 1rem 0 1rem;

                .texto h1 {
                    font-size: 2.5rem;
                }
            }

            .digitemensagem {
                form {
                    .group {
                        input {
                            width: 15rem;
                            height: 4rem;
                        }
                    }
                }
            }
        }
    }
}