@use "../functions";

@mixin tablet {
    @media (min-width: 500px) and (max-width: 849px) {
        .container {
            @include functions.alturaLargura(100%, 100vh);

            #header {
                @include functions.posicaoGrid(1, 3, 5, 17);
            }

            #aside {
                @include functions.posicaoGrid(1, 17, 1, 5);

                .perfil {
                    padding-left: 1rem;
                }
            }

            #section {
                @include functions.posicaoGrid(3, 6, 5, 17);

                .informacoes {
                    @include functions.alturaLargura(90%, 60%);

                    .info-l {
                        font-size: 1.5rem;
                    }

                    .info-r {
                        .info-group {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            #main {
                @include functions.posicaoGrid(6, 15, 5, 17);
                overflow: scroll;
            }

            #footer {
                @include functions.posicaoGrid(15, 17, 5, 17)
            }

            .main-chat {
                .chatbox {
                    .generica {
                        @include functions.alturaLargura(65%, 13rem);
                    }
                }

                .digitemensagem {
                    form {
                        .group {
                            input {
                                width: 28rem;
                            }
                        }
                    }
                }
            }

            .main-contracheque {
                @include functions.posicaoGrid(3, 15, 5, 17);

                .selectmonth {
                    padding: 0 1rem 0 1rem;

                    span {
                        font-size: 3rem;
                    }

                    .select {
                        @include functions.alturaLargura(15rem, 4rem);

                        .download {
                            font-size: 3.3rem;
                        }
                    }
                }

                .graph-values {
                    padding: 0 1rem 0 1rem;
                    @include functions.grid(2, 1fr, 1, 1fr);

                    .graph {
                        font-size: 2.3rem;
                        border: none;
                        border-bottom: .1rem solid functions.$fonte;

                        i {
                            font-size: 15rem;
                        }
                    }
                }

                .values {
                    padding: 0 1rem 0 1rem;

                    ul {
                        li {
                            span {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}