@use "../functions";

@mixin main {
    /* Main style - Page Contracheque*/

    .main-contracheque {
        @include functions.posicaoGrid(3, 15, 3, 17);
        display: grid;
        grid-template-rows: 1fr 6fr;
        border: 2px solid yellow;

        .selectmonth {
            @include functions.flex(center, space-between, row);
            padding: 2rem;
            border: 2px solid black;

            span {
                font-size: 4rem;
                font-weight: 600;
            }

            .select {
                @include functions.flex(center, space-between, row);
                width: 20rem;
                height: 4rem;
                border: solid 1px red;
                padding: 1rem;
                border: 2px solid red;

                select {
                    font-size: 2rem;
                }
            }

            .download {
                font-size: 3rem;
            }
        }

        .graph-values {
            @include functions.grid(1, 1fr, 2, 1fr);
            padding: 2rem;
            border: 2px solid navy;

            .graph {
                @include functions.flex(center, center, column);
                font-size: 2rem;
                border: 2px solid pink;

                i {
                    font-size: 15rem;
                    margin-bottom: 2rem;
                }

                span {
                    margin: 1rem 0;
                    font-weight: 500;
                }
            }

            .values {
                border: 2px solid hotpink;
                font-size: 2rem;
                padding: 1rem;
                border: solid 1px red;

                li {
                    @include functions.flex(center, space-between, row);
                    height: 4rem;

                    .valores {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}