@use "../functions";

@mixin main {
    /* Main style - Page Contracheque*/

    .main-contracheque {
        @include functions.posicaoGrid(3, 15, 3, 17);
        display: grid;
        grid-template-rows: 1fr 7fr;

        .selectmonth {
            @include functions.flex(center, space-between, row);
            padding: 2rem;

            span {
                font-size: 3rem;
                font-weight: bold;
            }

            .select {
                @include functions.flex(center, space-between, row);
                @include functions.alturaLargura(15rem, 4rem);

                .mes {
                    font-size: 2.5rem;
                    font-weight: 400;
                }

                .download {
                    font-size: 3rem;
                }
            }
        }

        .graph-values {
            @include functions.grid(1, 1fr, 2, 1fr);
            padding: 2rem;

            .graph {
                @include functions.flex(center, center, column);
                font-size: 2rem;
                border-right: .1rem solid functions.$fonte;

                img {
                    @include functions.alturaLargura(40rem, 35rem);
                }

                span {
                    margin-bottom: 1rem;
                }
            }

            .values {
                padding: 1rem;

                ul {
                    @include functions.alturaLargura(100%, 100%);
                    @include functions.flex(space-between, center, column);

                    li {
                        @include functions.flex(center, space-between, row);
                        height: 4rem;

                        span {
                            font-size: 2rem;
                        }

                        .valores {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}