@use "../functions";

@mixin main {
    /* Header style - Page Connfiguracoes */

    .header-perfil {
        @include functions.posicaoGrid(1, 5, 1, 17);
        display: grid;
        grid-template-rows: 1fr 3fr;

        .volta,
        .foto {
            @include functions.flex(center, flex-start, row);
            padding: 1rem;
            border-bottom: .1rem solid functions.$fonte;
        }

        .volta {
            gap: 1rem;
            font-size: .9rem;

            i {
                font-size: 2.2rem;
            }
        }

        .foto {
            justify-content: center;

            #perfil {
                font-size: 8rem;
            }

            #camera {
                font-size: 3rem;
                position: absolute;
                top: 18%;
                left: 51%;
                color: functions.$laranja;
            }
        }
    }

    /* Main style - Page Configuracoes */

    .main-perfil {
        @include functions.posicaoGrid(5, 12, 1, 17);
        display: grid;
        grid-template-rows: 4rem repeat(4, 1fr);

        .texto,
        .item-mp {
            padding: 0 1rem 0 1rem;
            font-size: 1.2rem;
            @include functions.flex(center, flex-start, row);
            border-bottom: .1rem solid functions.$fonte;
        }

        .item-mp {
            gap: 2rem;

            .text-group {
                width: 25rem;

                form {
                    @include functions.flex(center, space-between, row);

                    input {
                        border: none;
                        @include functions.alturaLargura(17rem, 2rem);
                    }

                    button {
                        border: none;
                        background: white;

                        i {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }

    /* Footer style - Page configuracoes */

    .footer-perfil {
        @include functions.posicaoGrid(12, 17, 1, 17);
        display: grid;
        grid-template-rows: 4rem repeat(3, 1fr);

        .texto,
        .item-fp {
            padding: 0 1rem 0 1rem;
            font-size: 1.2rem;
            border-bottom: .1rem solid functions.$fonte;
        }

        .texto {
            @include functions.flex(center, flex-start, row);
        }

        .item-fp {
            @include functions.flex(flex-start, center, column);
            gap: 0.5rem;
        }
    }
}