@use "../functions";

@mixin main {
    /* Header style - Page Home */

    #header {
        @include functions.flex(center, flex-end, row);
        border-bottom: .1rem solid black;

        .chat,
        .logo {
            @include functions.flex(center, flex-end, row);
            font-size: 4.5rem;
            @include functions.alturaLargura(50%, 100%);
        }

        .logo i {
            color: functions.$laranja;
        }

        .menu {
            display: none;
        }
    }

    /* Aside style - Page Home */

    #aside {
        border-right: .1rem solid functions.$fonte;
        @include functions.posicaoGrid(1, 17, 1, 3);
        @include functions.flex(flex-start, flex-start, column);

        .perfil {
            border-bottom: .1rem solid functions.$fonte;
            @include functions.alturaLargura(100%, 30rem);
            @include functions.flex(center, center, column);

            i {
                font-size: 10rem;
            }

            .span-group {
                @include functions.flex(flex-start, center, column);

                .nome {
                    font-size: 2rem;
                }

                .cpf {
                    font-size: 1.3rem;
                }
            }
        }

        .menu {
            @include functions.alturaLargura(100%, 45rem);
            padding: 1rem 0 0 1rem;

            h1,
            h2 {
                margin-bottom: 1rem;
            }

            a {
                font-size: 2rem;
                color: functions.$fonte;
                font-weight: bold;
            }
        }
    }

    /* Section styel - Page Home */

    #section {
        padding: 0 2rem 0 2rem;
        @include functions.flex(flex-start, center, column);
        @include functions.posicaoGrid(3, 6, 3, 17);

        h3 {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }

        .informacoes,
        .informacoes .info-r {
            @include functions.flex(center, flex-start, row);
        }

        .informacoes {
            border: .1rem solid functions.$fonte;
            @include functions.alturaLargura(60%, 60%);

            .info-l,
            .info-r .info-group {
                font-size: 2.3rem;
                padding: 0 .5rem 0 .5rem;
            }

            .info-l {
                border-right: .1rem solid functions.$fonte;
                @include functions.alturaLargura(45%, 100%);
                @include functions.flex(flex-start, center, column);

                span {
                    color: functions.$verde;
                }
            }

            .info-r {
                @include functions.alturaLargura(55%, 100%);

                .info-group {
                    @include functions.flex(center, flex-start, column);

                    .cima {
                        text-align: left;
                        @include functions.alturaLargura(100%, 100%);
                    }
                }
            }

            i {
                font-size: 5rem;
            }
        }
    }

    /* Main style - Page Home */

    #main {
        @include functions.posicaoGrid(6, 15, 3, 17);
        overflow: scroll;

        .main-header {
            @include functions.alturaLargura(100%, 4rem);
            @include functions.flex(center, space-between, row);
            padding: 0 2rem 0 2rem;

            div i {
                font-size: 2.5rem;
            }
        }

        .table {
            @include functions.alturaLargura(100%, calc(100% - 4rem));
            @include functions.grid(11, 1fr, 1, 1fr);
            border: .1rem solid functions.$fonte;

            .row {
                @include functions.grid(1, 1fr, 6, 1fr);

                .cell {
                    border: .1rem solid functions.$fonte;
                    @include functions.flex(center, center, column);
                    font-size: 1.5rem;

                    i {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    /* Footer style - Page Home */

    #footer {
        @include functions.posicaoGrid(15, 17, 3, 17);
        @include functions.grid(1, 1fr, 3, 1fr);

        .footer-item {
            @include functions.flex(center, center, column);
            font-size: 1.7rem;
            color: functions.$fonte;
            border-top: .1rem solid functions.$fonte;

            i {
                font-size: 2.7rem;
            }
        }

        .selecionado {
            border-top: .2rem solid functions.$laranja;
        }

        .selecionado span,
        .selecionado i {
            color: functions.$laranja;
        }
    }
}