@use "../functions";

@mixin main {
    #body {
        @include functions.flex(center, center, row);
        @include functions.alturaLargura(100%, 100vh);

        .loginbox {
            border: .1rem solid functions.$fonte;
            @include functions.flex(center, center, column);
            @include functions.alturaLargura(60rem, 50rem);

            .logo {
                @include functions.flex(center, center, row);
                font-size: 10rem;
                @include functions.alturaLargura(15rem, 15rem);
                background-color: lightgrey;
                margin-bottom: 2rem;
                border-radius: 3rem;

                i {
                    color: functions.$laranja;
                }
            }

            h1 {
                font-size: 2.5rem;
            }

            form {
                @include functions.flex(center, center, column);
                @include functions.alturaLargura(54%, 22rem);
                font-size: 2rem;

                label {
                    margin-bottom: .5rem;
                    display: flex;
                    justify-content: center;
                    font-weight: 500;
                }

                input {
                    @include functions.alturaLargura(30rem, 3rem);
                    font-size: 1.5rem;
                    border-radius: 1rem;
                    border: .1rem solid functions.$fonte;
                    margin-bottom: 1rem;
                    padding: .5rem;
                }

                button {
                    @include functions.alturaLargura(11rem, 4rem);
                    border-radius: .7rem;
                    margin-top: 1rem;
                    border: none;
                    font-size: 1.3rem;
                }
            }
        }
    }
}