@use "../functions";

@mixin main {
    .main-notificacoes {
        @include functions.posicaoGrid(3, 15, 3, 17);
        display: grid;
        grid-template-rows: 1fr 10fr;
        padding: 1rem;

        h1 {
            font-size: 3rem;
            justify-self: center;
        }

        .notificacoes {
            @include functions.flex(center, space-evenly, column);

            .notification-box {
                @include functions.flex(center, space-between, row);
                @include functions.alturaLargura(100%, 4rem);
                font-size: 1.75rem;
                padding: 1rem;
                border: solid 1px black;

                i {
                    font-size: 4rem;
                    color: red;
                }

                #ausencia {
                    text-decoration: underline;
                    color: red;
                }

                .quando {
                    text-decoration: underline;
                }
            }
        }
    }
}